@charset "UTF-8";

@font-face {
    font-family: 'osvaldo';
    src: url("pro_site/fontes/static/Oswald-Bold.ttf") format('truetype');
}


body{
    margin: 0%;
    background-color: #E8E5C2;
}
header{
    background-image: linear-gradient(to bottom, #4bffa8, #0f542d);
    text-align: center;
    margin: 0;
    height: 260px;
    padding-bottom: 0%;

}


header>h2{
    font-family: osvaldo;
    color: white;
    margin: 0;
    font-size: 2em;
}
header>h3{
    padding-top: 5em;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    margin: 0;
    
}
nav{
    text-align: left;
    height: 40px;
    margin: -2.5em 0 0 0;
    
}

nav>.botoes_menu{
    color: white;
    background-color: #3656484a;
    font-size: 1.26em;
    padding-left: 1em;
    padding-right: 1em;
    margin: -2px;
    padding-top: 0.79em;
    padding-bottom: 0.79em;
    text-decoration: none;
}

nav>.botoes_menu:hover{
    background-color: #28b973;
}


